{% extends 'base.html'%}
{% block title %}<center>Docker Admin</center> {% endblock %}

{% block content %}
If you want add new domain to nginx in existing config: <a href="/e0490e9b168033bbea3db755/domainadd">add domains to nginx</a><br /><br />
If you want add project to existing container: <a href="/e0490e9b168033bbea3db755/projectadd">add project to container</a><br /><br />
If you want to create new container: <a href="/e0490e9b168033bbea3db755/create_container">create new container</a><br /><br />


</body>
{% endblock %}